<h1>All Owners</h1>

<ol>
<% @owners.each do |owner| %>
  <li><a href="/owners/<%=owner.id%>"><%=owner.name%></a></li>
<%end%>
</ol>
<br><br>
<a href="/owners/new"> Create a New Owner </a>
<br><br>
<a href="/pets"> Alternatively See List of Existing Pets </a>

