<h1><%=@owner.name%></h1>
<h4>Pets:</h4>
<ul>
  <% @owner.pets.each do |pet|%>
  <li><a href="/pets/<%=pet.id%>"><%=pet.name%></a></li>
  <%end%>
</ul>

<br><br>
<form method="POST" action="/owners/<%=@owner.id%>">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete this owners page"/>
</form>