<h1>All Pets</h1>

<ol>
<% @pets.each do |pet| %>
  <li><a href="/pets/<%=pet.id%>"><%=pet.name%></a></li>
<%end%>
</ol>

<br><br>
<a href="/pets/new"> Create a New Pet </a>
<br><br>
<a href="/owners"> Alternatively See List of Owners </a>